* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Manrope;
}

body {
    background-image: url(./images/bg-pattern.svg);
    background-repeat: no-repeat;
    background-position-y: -95px;
}

.main {

    display: flex;
    justify-content: start;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    padding-top: 45px;
}

.title {

    background-image: url(./images/pattern-circles.svg);
    height: 143px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px;
    position: relative;
    top: -32px;
}

.headingone {
    font-size: 25px;
    margin-bottom: 8px;
    color: hsl(227, 35%, 25%);
}

.paragraphone {
    font-size: 12px;
    color: hsl(225, 20%, 60%);
}

.container {
    background-color: hsl(0, 0%, 100%);
    box-shadow: 2px 19px 14px lightgrey;
    border-radius: 10px;
    padding: 30px 34px 25px 32px;
    overflow: hidden;
    min-width: 380px;
}



.columnone {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 0 27px 0px;
}

.pageviews {
    font-size: 12px;
    font-weight: bold;
    color: hsl(225, 20%, 60%);
    letter-spacing: 2px;
}

.price {
    display: flex;
    align-items: center;
    gap: 4px;
    color: hsl(227, 35%, 25%);
}

span {
    font-size: 14px;
    opacity: 0.6;
}

.columntwo {

    display: flex;
    justify-content: center;
    margin: 0 0px 39px 0;
}

.progressbar {
    width: 97%;
    height: 9px;
    appearance: none;
    background-color: hsl(224, 65%, 95%);
    outline: none;
    border-radius: 9px;

}



.progressbar::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-image: url(./images/icon-slider.svg);
    height: 35px;
    width: 36px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: hsl(174, 86%, 45%);
    border-radius: 50%;
    cursor: pointer;



}

.progressbar::-webkit-slider-thumb:hover {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: hsl(176, 22%, 64%);
    border-radius: 50%;
}

.columnthree {
    display: flex;
    justify-content: space-evenly;
    padding: 0px 16px 0 49px;
    align-items: center;
    margin-bottom: 24px;
}

.toggle {
    height: 21px;
    width: 41px;
    background-color: #15d9c6;
    border-radius: 18px;
    opacity: 0.6;
    display: flex;
    align-items: center;
    padding: 2.5px;
    padding-left: 2.5px;
    padding-right: 2.5px;
    margin-left: 12px;
    margin-right: 12px;

}

.togglebtn {
    height: 17px;
    width: 17px;
    background-color: aliceblue;
    border-radius: 50%;
    position: relative;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    left: 0;
}

.togglebtnleft {
    left: 19px;
}

.monthly {
    font-size: 12px;
    color: hsl(225, 20%, 60%);
}

.yearly {
    font-size: 12px;
    color: hsl(225, 20%, 60%);
}

.discount {
    margin-left: 4px;
    font-size: 10px;
    font-weight: 900;
    color: hsl(15, 86%, 45%);
    background-color: hsl(14, 92%, 95%);
    padding: 5px;
    border-radius: 19px;
}

.line {
    background-color: hsl(225, 20%, 60%);
    height: 0.1px;
    margin-bottom: 15px;
    border: none;
    width: 140.5%;
    position: relative;
    left: -55px;
    opacity: 0.3;
}


.columnfour {

    display: flex;
    justify-content: space-between;

}

.list {

    height: 100%;
}

.list ul {
    height: 100%;
}

.list ul li {

    list-style: none;
    margin-top: 5px;
    margin-bottom: 7px;
    color: hsl(225, 20%, 60%);
    font-size: 12px;
}

.tick {
    margin-right: 6px;
}

.btnclass {

    display: flex;
    align-items: center;
}

.btn {
    border: none;
    height: 37px;
    background-color: hsl(227, 35%, 25%);
    color: hsl(226, 100%, 87%);
    text-align: center;
    padding: 0px 27px 0 27px;
    border-radius: 41px;
}

@media (max-width: 400px) {


    .container {
        background-color: hsl(0, 0%, 100%);
        box-shadow: 2px 19px 14px lightgrey;
        border-radius: 10px;
        padding: 30px 34px 25px 32px;
        overflow: hidden;
        min-width: 0;
    }

    .columnone {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0px 0 0px 0px;
        flex-direction: column;
        gap: 48px;
    }

    .columntwo {
        display: flex;
        justify-content: center;
        margin: 0 0px 10px 0;
        position: relative;
        top: -70px;
    }

    .columnthree {
        display: flex;
        justify-content: space-evenly;
        padding: 0px 0px 0 0px;
        align-items: center;
        margin-bottom: 24px;
    }

    .monthly {
        font-size: 9px;
        color: hsl(225, 20%, 60%);
    }

    .yearly {
        font-size: 9px;
        color: hsl(225, 20%, 60%);
    }

    .discount {
        margin-left: 1px;
        font-size: 2vw;
        font-weight: 900;
        color: hsl(15, 86%, 45%);
        background-color: hsl(14, 92%, 95%);
        padding: 5px;
        border-radius: 19px;
    }

    .columnfour {

        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 29px;

    }

    .toggle {
        height: 21px;
        width: 41px;
        background-color: #15d9c6;
        border-radius: 18px;
        opacity: 0.6;
        display: flex;
        align-items: center;
        padding: 2.5px;
        padding-left: 2.5px;
        padding-right: 2.5px;
        margin-left: 8px;
        margin-right: 5px;
    }


}





.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (max-width:280px) {
    .togglebtnleft {
        left: 16px;

    }
}

@media (max-width:260px) {
    .togglebtnleft {
        left: 13px;

    }

}

@media (max-width:260px) {
    .togglebtnleft {
        left: 11px;

    }
}